<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Github Treemaps <small>Visualizing Github in <a href="http://en.wikipedia.org/wiki/Treemapping">treemaps</a></small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="list-group info-popover">
                <div class = "list-group-item active">
                    <h4 class="list-group-item-heading">Most Starred Repositories</h4>
                </div>
                <a ng-repeat="repo in mostStarred" class="list-group-item" ui-sref="repository({ id: repo.id })">
                    <h4 class="list-group-item-heading">
                        {{repo.name}}
                        <span class="pull-right">
                            <span class="octicon octicon-star"></span>
                            {{repo.stars}}
                        </span>
                    </h4>
                    <p class="list-group-item-text">{{repo.description}}</p>
                </a>
            </div>
        </div>

        <div class="col-md-5">
            <div class="list-group info-popover">
                <div class = "list-group-item active">
                    <h4  class="list-group-item-heading">Most Forked Repositories</h4>
                </div>
                <a ng-repeat="repo in mostForked" class="list-group-item" ui-sref="repository({ id: repo.id })">
                    <h4 class="list-group-item-heading">
                        {{repo.name}}
                    <span class="pull-right">
                        <span class="octicon octicon-repo-forked"></span>
                        {{repo.forks}}
                    </span>
                    </h4>
                    <p  class="list-group-item-text">{{repo.description}}</p>
                </a>
            </div>
        </div>
    </div>
</div>